# Dependencies
node_modules/

# Environment variables
.env

# Uploaded files
uploads/

# Logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db
